.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        text-decoration: none;
        color: white;
    }
}

.cajas{
    height: 100%;
    width: 100%;
    @extend %column;
    gap: 30px;
    padding: 40px;
}

#m-1{
    background-color: nth($clrs, 1 );
    &:hover{
        background-color: nth($clrs2 , 1 );
    }
}
#m-2{
    background-color: nth($clrs, 2 );
    &:hover{
        background-color: nth($clrs2, 2);
    }
}
#m-3{
    background-color: nth($clrs, 3 );
    &:hover{
        background-color: nth($clrs2, 3);
    }
}
#m-4{
    background-color: nth($clrs, 4 );
    &:hover{
        background-color: nth($clrs2, 4);
    }
}
#m-5{
    background-color: nth($clrs, 5 );
    &:hover{
        background-color: nth($clrs2, 5);
    }
}

@media (max-width:800px){
    .menu{
        display: grid;
        grid-template-rows: auto auto auto auto auto;
    }
}

/* PRODUCTOS */
.nav1{
    @extend %row;
    gap: 25px;
    padding: 25px;
    a{
        color: black;
        font-weight: 700;
        text-decoration: none;
        ;
        &:hover{
            color: rgba(0, 0, 0, 0.726);
        }
    }
}

.a-esp{
    background-color: rgba(0, 0, 0, 0.185);
    padding: 5px;
}

@media (max-width:768px){
    .nav1 {
       display: flex;
       flex-direction: column;
       justify-content: flex-end;
        gap: 25px;
    }
    
}